@font-face
{
    font-family: 'Bellota';
    src:url(./Bellota-Bold.ttf);
}

.body {
    font-family: 'Bellota', serif;
}
#navbar {
    display: inline-flex;
    flex-direction: row;
    /*align-items: center;
    align-content: center;*/
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
}
#logo {
    height: 100px;
    width: auto;
    margin-left: 15px;
}
#navbar ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
}
#navbar a {
    text-decoration: none;
    color: #000000;
    font-family: 'Bellota';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    border: 3px solid #ffffff;
    border-radius: 10px;
}
#navbar li {
    list-style-type: none;
    margin-left: 2rem;
    padding-right: 2rem;
}
#navbar a:hover {
    width: 128px;
    height: 42px;
    margin-bottom: 50px;
    /*left: 537px;
    top: 20px;*/
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #000000;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#home {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    margin-top: 99.984px;
}
.home-container {
    width: 100vw;
    background-color: rgb(245,232,232);
    z-index: 0;
    overflow: hidden;
}
#hello {
    position: relative;
    width: 40vw;
    height: 5vw;
    left: 19vw;
    top: 5vw;
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 5vw;
    color:rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(104, 104, 104, 0.25);
}

#a-web-developer {
    position: relative;
    width: 30vw;
    height: auto;
    left: 19vw; 
    top: 6vw;
    background: #ffffff;
    border-radius: 20px;
    padding: 1.5vw;
    animation-timing-function: ease-in;
    animation-name: a-web-developer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 3;
    border:3px solid rgb(0, 0, 0);
}
@keyframes a-web-developer {
    0% {left: 5vw; top: 12vw}
    100% {left: 19vw; top: 6vw;}    
}
#a-web-developer h1{
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    color: #000000;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#avatar {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 48vw;
    top: -27vw;
    animation-timing-function: ease-in;
    animation-name: avatar;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 2;
}
@keyframes avatar {
    0% {left: 60vw; top: -30vw}
    100% {left: 48vw; top: -27vw;}    
}
#avatar-img {
    border-radius: 20px;
    height: 20vw;
    width: auto;
}
#about-me {
    font-family: Bellota;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 60vw;
    top: -23vw;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    transition: padding 0.5s;
}
#about-me a {
    width: 20vw;
    height: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 100%;
    animation-name: about-me;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes about-me {
    0% {opacity: 0%}
    50% {opacity: 0%}
    100% {opacity: 100%}
}
#about-me:hover {
    transition: padding 0.5s;
    padding-left: 5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.decor {
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
}
#decor-1 {
    position: relative;
    left: 75vw;
    top:-70vw;
    background-color: rgb(228, 203, 186);
    z-index: 1;
}
#decor-2 {
    position: relative;
    left: -15vw;
    top:-70vw;
    background-color: rgb(180, 188, 159);
    z-index: 1;
}




