@font-face
{
    font-family: 'Bellota';
    src:url(./Bellota-Bold.ttf);
}

.body {
    font-family: 'Bellota', serif;
}
#navbar {
    display: inline-flex;
    flex-direction: row;
    /*align-items: center;
    align-content: center;*/
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
}
#logo {
    height: 100px;
    width: auto;
    margin-left: 15px;
}
#navbar ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
}
#navbar a {
    text-decoration: none;
    color: #000000;
    font-family: 'Bellota';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    border: 3px solid #ffffff;
    border-radius: 10px;
}
#navbar li {
    list-style-type: none;
    margin-left: 2rem;
    padding-right: 2rem;
}
#navbar a:hover {
    width: 128px;
    height: 42px;
    margin-bottom: 50px;
    /*left: 537px;
    top: 20px;*/
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #000000;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#home {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60vw;
    margin-top: 99.984px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.home-container {
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
#hello {
    position: relative;
    width: 40vw;
    height: 5vw;
    left: 19vw;
    top: 5vw;
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 5vw;
    color:rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(104, 104, 104, 0.25);
    z-index: 3;
}

#a-web-developer {
    position: relative;
    width: 30vw;
    height: auto;
    left: 19vw; 
    top: 6vw;
    background: #ffffff;
    border-radius: 20px;
    padding: 1.5vw;
    animation-timing-function: ease-in;
    animation-name: a-web-developer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 3;
    border:3px solid rgb(0, 0, 0);
    background-color: white;
}
@keyframes a-web-developer {
    0% {left: 5vw; top: 12vw}
    100% {left: 19vw; top: 6vw;}    
}
#a-web-developer h1{
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    color: black;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#avatar {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 48vw;
    top: -27vw;
    animation-timing-function: ease-in;
    animation-name: avatar;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    z-index: 2;
}
@keyframes avatar {
    0% {left: 60vw; top: -30vw}
    100% {left: 48vw; top: -27vw;}    
}
#avatar-img {
    border-radius: 20px;
    height: 20vw;
    width: auto;
}
#about-me {
    font-family: Bellota;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 60vw;
    top: -23vw;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    transition: padding 0.5s;
    z-index: 3;
}
#about-me a {
    width: 20vw;
    height: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 100%;
    animation-name: about-me;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes about-me {
    0% {opacity: 0%}
    50% {opacity: 0%}
    100% {opacity: 100%}
}
#about-me:hover {
    transition: padding 0.5s;
    padding-left: 5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.decor {
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
}
#decor-1 {
    position: relative;
    left: 75vw;
    top:-40vw;
    background-color:rgb(228, 203, 186);
    z-index: 1;
}
#decor-2 {
    position: relative;
    left: -15vw;
    top:-100vw;
    background-color: rgb(180, 188, 159);
    z-index: 1;
}
.info {
    width: 100%;
    justify-content: center;
    height: 80vw;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
#myphoto {
    position: relative;
    left: 20vw;
    top: -2vw;
    width: 15vw;
    height: auto;
    border-radius: 20px;
    z-index: 2;
}
#square {
    position: relative;
    top: 25vw;
    left: 15vw;
    width: 15vw;
    height: 20vw;
    background-color: rgb(180, 188, 159);
    border-radius: 20px;
    z-index: 1;
}
#detail {
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    position: relative;
    top: -30vw;
    left: 25vw;
    width: 35vw;
    border:5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2.5vw 5vw 2.5vw 15vw;
    z-index: 0;
    background-color: white;
}
#detail ul {
    display: inline-flex;
    flex-direction: row;
    width: 30vw;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.skill-container {
    height: 5vw;
    width: auto;
}
#detail li {
    list-style-type: none;
    font-size: 1.5vw;
    text-align: center;
}
.skill-bar * {
    box-sizing: border-box;
}
.container {
    width: 30vw;
    background-color: rgb(245,232,232);
    height: 2vw;
}
.skill {
    font-size: 1vw;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    height: 2vw;
    line-height: 1vw;
}
.skill {
    width: 0;
}
.html {
    animation: html-fill 2s forwards;
}
@keyframes html-fill {
    0% {
        width: 0;
    }
    100% {
        width: 15vw;
        background-color: rgb(180, 188, 159);
    }
}
.css {
    animation: css-fill 2s forwards;
}
@keyframes css-fill {
    0% {
        width: 0;
    }
    100% {
        width: 12vw;
        background-color: rgb(180, 188, 159);
    }
}
.JavaScript {
    animation: JS-fill 2s forwards;
}
@keyframes JS-fill {
    0% {
        width: 0;
    }
    100% {
        width: 9vw;
        background-color: rgb(180, 188, 159);
    }
}
.skills-img {
    width: 3vw;
    height: auto;
    margin-right: 1vw;
}
.skill-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}
.skill-bar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill.skillRun {
    animation: run 1s ease-in;
}

@keyframes run {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.info {
    position: relative;
    opacity: 0;
    background-color: rgb(245,232,232);
    padding-bottom: 15vw;
}

.info.active {
    opacity: 1;
    animation: fade-bottom 1.5s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(5vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.work {
    height: 100vw;
    opacity: 0;
    
}
.work.active-work {
    opacity: 1;
    animation: fade-bottom-work 1.5s ease-in;
}

@keyframes fade-bottom-work {
    0% {
        transform: translateY(5vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.projects-container {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    margin: 5vw 10% auto 10%;
}
.projects {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10vw;
}
.projects img {
    height: 50%;
    width: 50%;
    border-radius: 20px;
}
.description {
    width: 50%;
    margin-left: 5vw;
    margin-right: 5vw;
}
.description-1 {
    background-color: white;
}

.description-2 {
    background-color: white;
}
.description-3 {
    background-color: white;
}
.work {
    padding-top: 84px;
}
.title {
    font-family: Bellota;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    position: relative;
    left: 10vw;
    top: 0vw;
    margin-top: 10vw;
    /*border: 5px solid black;*/
    border-radius: 20px;
    width: 25vw;
    padding: 2vw;
    text-align: center;
    background-color: rgb(180, 188, 159);
    color: white;
}
.project-name {
    font-family: Bellota;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    color: black;
    margin-top: 0;
    margin-bottom: 1vw;
}
.content {
    font-family: Bellota;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    color: black;
}

button {
    background-color:rgb(228, 203, 186);
    border-color: rgb(228, 203, 186);
    border-style: solid;
    border-radius: 20px;
}

.see-projects {
    text-align: center;
    text-decoration: none;
    font-family: Bellota;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}